.body {
	width: 100%;
	height: 100vh;
	background: -webkit-linear-gradient(330deg, #000, #f0a6ca);
	background: linear-gradient(120deg, #000, #f0a6ca);
	overflow: hidden;
}

#tabs {
	margin-top: 10px;
}

#tabs input[type="radio"] {
	position: absolute;
	display: none;
}

label {
	width: 134px;
	background: rgba(255, 255, 255, 0.05);
	color: rgba(255, 255, 255, 0.9);
	padding: 10px;
	font-size: 12pt;
	padding: 1em;
	margin: 0;
	font-weight: bold;
	text-align: center;
}

#tab2:checked ~ #friends, #tab1:checked ~ #group {
	display: none;
}

.left {
	text-decoration: none;
	float: left;
	width: 20%;
	height: 85vh;
	float: left;
}

#friends {
	text-decoration: none;
	height: 82vh;
}

#group {
	text-decoration: none;
	height: 82vh;
}

.heading {
	background: rgba(255, 255, 255, 0.05);
	color: rgba(255, 255, 255, 0.9);
	font-size: 24pt;
	padding: 10px;
	margin: 0;
	font-weight: 300;
	text-align: center;
}

* {
	box-sizing: border-box;
	margin-top: 0px;
	margin-bottom: 0px;
}

.column {
	float: left;
	padding: 10px;
	height: 520px;
}

.column.left {
	text-decoration: none;
	float: left;
	width: 15%;
	height: 85vh;
	float: left;
}

.column.right {
	float: right;
	height: 85vh;
	width: 15%;
}

.column.middle {
	float: left;
	width: 70%;
	height: 85vh;
}

.signout {
	float: right;
	margin-top: 10px;
	margin-right:50px;
	width: 100px;
	height: 30px;
	font-size: 18px;
	text-align: left;
	color: black;
	font-weight: bold;
	cursor: pointer;
}

.signout i {
	margin-left:5px;
}